@import 'variables';

@mixin inputs-buttons {
	outline: none;
	box-sizing: border-box;
	height: $baseline*1.5;
	margin: 0 0 $baseline*.5;
	/* stylelint-disable no-unsupported-browser-features */
	padding: calc(.25em - 1px) .5em;
	/* stylelint-enable */
	font-family: inherit;
	font-size: 1em;
	border: 1px solid darken(color('border'), 20);
	border-radius: 4px;
	transition: border 200ms;
}

@mixin inputs {
	@include inputs-buttons;
	display: block;
	width: 100%;

	&:focus {
		border: 1px solid darken(color('border'), 50);
	}
}

@mixin buttons {
	@include inputs-buttons;
	display: inline-block;
	width: auto;
	background: color('border');
	color: color('accent');
	cursor: pointer;

	&:focus, &:hover {
		border: 1px solid darken(color('border'), 50);
		background: darken(color('border'), 15);
	}
}

@mixin code {
	font-family: $mono-font;
	font-size: .9em;
	border: 1px solid color('border');
	border-radius: 1px;
	background: #f2f2f2;
}

@mixin lift($offset, $top: 0rem) {
	padding: #{$baseline - $offset + $top} 0 $offset;
}
