/* colors */
$colors: (
	'headers': #25291c,
	'accent': #070600,
	'text': #111,
	'disabled': #7d7d77,
	'invisible': #a3a39b,
	'border': #e8e8e8,
	'link': #0064c1,
	'link-hover': #3000c1,
	'link-visited': #6d00c1,
);

@function color($key: 'primary') {
	@return map-get($colors, $key);
}

$serif-font: 'PT Serif', Georgia, serif;
$mono-font: Consolas, Courier, monospace;

/* sizes */
$content-size: 32rem;
$side: 200px;
$browser-scroll-bar: 40px;

$scale-small-font: 16px;
$scale-small-width: 336px; // 16px * 21rem, approx 49 characters

$scale-large-font: 20px;
$scale-large-width: 640px; // 20px * 32rem, approx 75 characters

$baseline: 1.4rem;
