@import 'mixins';
@import 'variables';

html {
	font-family: 'PT Serif', Georgia, sans-serif;
	font-size: $scale-small-font; // fallback
	line-height: 1.4;
	color: color('text');

	@media (min-width: $scale-start-width) {
		/* stylelint-disable no-unsupported-browser-features */
		font-size: calc(16px + (20 - 16) * (100vw - 336px) / (600 - 336));
		/* stylelint-enable */
	}

	@media (min-width: $scale-end-width) {
		font-size: $scale-large-font;
	}
}

body {
	margin: $baseline;

	> header,
	> main,
	> footer,
	> article {
		display: block;
		position: relative;
		max-width: $content-size;
		margin: 0 auto;
	}

	> header {
		text-align: center;
	}

	> footer {
		margin-top: 4em;
		text-align: center;
		font-size: .9rem;
		color: color('invisible');
	}
}

section, article {
	margin-bottom: $baseline*2;
}

address {
	font-style: normal;
}

aside {
	$side: 200px;
	$width: $side * 3/4; // 20px * 7.5em, approx 15 characters
	position: absolute;
	right: -$side;
	max-width: $width;

	@include baseline(.6rem);
	font-weight: 400;
	font-style: italic;
	color: color('disabled');

	// tmp solution. see: https://github.com/stylelint/stylelint/issues/1754
	/* stylelint-disable media-feature-no-missing-punctuation */
	@media (max-width: $scale-end-width + $side * 2 + 40px) {
		position: relative;
		right: auto;
		max-width: none;
		@include baseline(.6rem);
	}
	/* stylelint-enable */
}

a {
	text-decoration: none;
	color: color('link');
	transition: color 300ms;

	&:visited {
		color: color('link-visited');
	}

	&:hover,
	&:focus {
		color: color('link-hover');
		transition: color 0ms;
	}
}

nav {
	padding: $baseline*1.5 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0 .5rem;
			color: color('disabled');
		}
	}

	a {
		&:visited {
			color: color('link');
		}

		&:hover,
		&:focus {
			color: color('link-hover');
		}
	}
}

h1 {
	@include baseline(.36rem);
	font-size: 4rem;
	font-weight: 400;
	line-height: $baseline*3;
	color: color('accent');
}

h2 {
	@include baseline(.47rem);
	font-size: 2.5rem;
	font-weight: 400;
	line-height: $baseline*2;
	color: color('headers');
}

h3 {
	@include baseline(.46rem);
	margin-top: $baseline/2;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: $baseline*1.5;
	color: color('headers');
}

h4 {
	@include baseline(.62rem);
	font-size: 1rem;
	font-weight: bold;
	line-height: $baseline;
	color: darken(color('disabled'), 10);
}

form {
	max-width: 25rem;
	margin: 0 auto;
}

fieldset {
	margin: 0;
	/* stylelint-disable no-unsupported-browser-features */
	padding: calc(#{$baseline} - 1px);
	/* stylelint-enable */
	border: 1px solid darken(color('border'), 10);
}

label {
	display: block;
}

legend {
	color: color('disabled');
}

button {
	@include buttons;
}

select {
	@include buttons;

	display: block;
}

input {
	&[type=text],
	&[type=password],
	&[type^=date],
	&[type=email],
	&[type=number],
	&[type=search],
	&[type=tel],
	&[type=time],
	&[type=month],
	&[type=week],
	&[type=url] {
		@include inputs;
		display: block;
	}

	&[type=submit],
	&[type=button],
	&[type=reset] {
		@include buttons;
		appearance: none;
	}

	&[type=color],
	&[type=file] {
		@include buttons;
		display: block;
	}

	&[type=color] {
		width: 4em;
		height: 2em;
	}

	&[type=file] {
		width: 100%;
	}
}

textarea {
	@include inputs;
	height: $baseline*3.5;
	margin-bottom: $baseline*.5;
}

pre {
	@include code;

	margin: 0;

	> code {
		display: block;
		overflow-x: auto;
		padding: 10px 15px;
		border: 0;
		// for compatibility with syntax highlighters
		background: transparent;
		-webkit-overflow-scrolling: touch;
	}
}

code {
	@include code;
	padding: .0625em .3125em;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

p {
	@include baseline(.62rem);

	img {
		float: right;
		margin: .3em 0 .3em .5em;
		border: 1px solid color('border');
	}
}

figure {
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
	padding: 6px 22px;
	border: 1px solid color('border');
	border-radius: 1px;

	img {
		max-width: 100%;
		margin: 10px 0 15px;

		+ figcaption {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	figcaption {
		margin-top: 10px;
		text-align: center;
		font-style: italic;

		+ img {
			margin: 15px 0 10px;
		}
	}
}

blockquote {
	margin: 0 2em;
	padding-top: -.1em;
}

ul, ol, dl {
	@include baseline(.58rem);
	margin-left: 1em;
}

dl {
	dt {
		font-weight: 700;
	}
}

details {
	display: block;
	margin: 20px 0;
	padding: 0 .5em;
	border: 1px solid color('border');
	border-radius: 1px;
	background-color: #fafafa;

	summary {
		display: block;
		outline: none;
		margin: 0 -.5em 0;
		padding: 0 .5em .1em;
		font-weight: 700;
		background-color: #fff;
		cursor: pointer;
	}
}

/*
 * CSS only Responsive Tables
 * http://dbushell.com/2016/03/04/css-only-responsive-tables/
 * by David Bushell
*/
table {
	display: inline-block;
	border-spacing: 0;
	border-collapse: collapse;
	overflow-x: auto;
	width: 100%;
	max-width: 100%;
	text-align: left;
	vertical-align: top;
	background:
		radial-gradient(left, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 0 center,
		radial-gradient(right, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
	background-attachment: scroll, scroll;
	background-size: 10px 100%, 10px 100%;
	background-repeat: no-repeat;
	-webkit-overflow-scrolling: touch;

	caption {
		@include baseline(.6rem);
		font-style: italic;
		background: #fff;
	}

	thead {
		background: color('border');
	}

	td, th {
		/* stylelint-disable no-unsupported-browser-features */
		padding: calc(#{$baseline} - .6rem - 1px) .7em .6rem;
		/* stylelint-enable */
		vertical-align: top;
		border: 1px solid color('border');
	}

	td {
		&:first-child {
			background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-size: 20px 100%;
			background-repeat: no-repeat;
		}

		&:last-child {
			background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-position: 100% 0;
			background-size: 20px 100%;
			background-repeat: no-repeat;
		}
	}

	th {
		border: .0625rem solid darken(color('border'), 10);
	}
}

abbr {
	margin-right: -.15em;
	letter-spacing: .15em;
	font-size: .875rem;
}

dfn {
	letter-spacing: .05em;
}

del {
	color: color('disabled');
}

ins {
	text-decoration: none;
	background: lighten(color('disabled'), 45);
}

mark {
	background: #ffeab9;
}

hr {
	height: 1px;
	/* stylelint-disable no-unsupported-browser-features */
	margin: calc(#{$baseline} - 1px) 0 0;
	/* stylelint-enable */
	border: 0;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

var {
	font-family: monospace;
	font-style: normal;
}

audio {
	width: 100%;
	margin: 10px 0 15px;
}

video {
	width: 100%;
	max-width: 100%;
	margin: 10px 0 15px;
}

noscript {
	color: #d00000;
}

kbd {
	display: inline-block;
	margin: 0;
	padding: 0 .6ex;
	font-size: .9em;
	border-radius: 5px;
	box-shadow: 0 1px color('border');
	background: lighten(color('invisible'), 35);
}

output {
	display: block;
}
