*{
  margin:0; }

* + *{
  margin-top:1.4rem; }

dt,
dd,
h3,
label,
li,
progress,
meter{
  margin-top:0; }

h1, h2, h3, h4{
  margin-bottom:-1.4rem; }

html{
  font-family:"PT Serif", Georgia, serif;
  font-size:16px;
  line-height:1.4;
  color:#111; }
  @media (min-width: 336px){
    html{
      font-size:calc(16px + (20 - 16) * (100vw - 336px) / (640 - 336)); } }
  @media (min-width: 640px){
    html{
      font-size:20px; } }

body{
  margin:1.4rem; }
  body header,
  body main,
  body footer,
  body article{
    position:relative;
    max-width:32rem;
    margin-right:auto;
    margin-left:auto; }
  body header{
    text-align:center; }
  body > footer{
    text-align:center;
    font-size:.8rem;
    color:#a3a39b; }

aside{
  position:absolute;
  right:-200px;
  max-width:150px;
  font-style:italic;
  color:#7d7d77; }
  @media (max-width: 1080px){
    aside{
      position:relative;
      right:auto;
      max-width:none;
      margin-bottom:1.4rem; } }

a{
  text-decoration:none;
  color:#0064c1;
  -webkit-transition:color 300ms;
  transition:color 300ms; }
  a:visited{
    color:#6d00c1; }
  a:hover, a:focus{
    color:#3000c1;
    -webkit-transition:color 0ms;
    transition:color 0ms; }

nav ul{
  list-style:none;
  padding:0; }
  nav ul li{
    display:inline-block;
    margin:0 .5em;
    color:#7d7d77; }

h1{
  padding:0.252rem 0 1.148rem;
  font-size:4em;
  font-weight:normal;
  line-height:4.2rem;
  color:#25291c; }

h2{
  padding:0.196rem 0 1.204rem;
  font-size:2.5em;
  font-weight:normal;
  line-height:2.8rem;
  color:#25291c; }

h3{
  padding:0.84rem 0 1.26rem;
  font-size:1.5em;
  font-weight:normal;
  line-height:2.1rem;
  color:#25291c; }

h4{
  padding:0rem 0 1.4rem;
  font-size:1em;
  font-weight:bold;
  line-height:1.4rem;
  color:#404731; }

form{
  max-width:25.6rem;
  margin-right:auto;
  margin-left:auto; }

fieldset{
  margin:0;
  padding:calc(1.4rem - 1px);
  border:1px solid #cfcfcf; }

label{
  display:block; }

legend{
  color:#7d7d77; }

button{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:inline-block;
  width:auto;
  background:#e8e8e8;
  color:#070600;
  cursor:pointer; }
  button:focus, button:hover{
    border:1px solid dimgray;
    background:#c2c2c2; }

select{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:inline-block;
  width:auto;
  background:#e8e8e8;
  color:#070600;
  cursor:pointer;
  display:block; }
  select:focus, select:hover{
    border:1px solid dimgray;
    background:#c2c2c2; }

input[type=text], input[type=password], input[type^=date], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=month], input[type=week], input[type=url]{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:block;
  width:100%;
  display:block; }
  input[type=text]:focus, input[type=password]:focus, input[type^=date]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=month]:focus, input[type=week]:focus, input[type=url]:focus{
    border:1px solid dimgray; }

input[type=submit], input[type=button], input[type=reset]{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:inline-block;
  width:auto;
  background:#e8e8e8;
  color:#070600;
  cursor:pointer;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none; }
  input[type=submit]:focus, input[type=submit]:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover{
    border:1px solid dimgray;
    background:#c2c2c2; }

input[type=color], input[type=file]{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:inline-block;
  width:auto;
  background:#e8e8e8;
  color:#070600;
  cursor:pointer;
  display:block; }
  input[type=color]:focus, input[type=color]:hover, input[type=file]:focus, input[type=file]:hover{
    border:1px solid dimgray;
    background:#c2c2c2; }

input[type=color]{
  width:4em; }

input[type=file]{
  width:100%; }

textarea{
  outline:none;
  box-sizing:border-box;
  height:2.1rem;
  margin:0 0 0.7rem;
  padding:calc(.25em - 1px) 0.5em;
  font-family:inherit;
  font-size:1em;
  border:1px solid #b5b5b5;
  border-radius:4px;
  -webkit-transition:border 200ms;
  transition:border 200ms;
  display:block;
  width:100%;
  height:4.9rem;
  resize:vertical; }
  textarea:focus{
    border:1px solid dimgray; }

pre{
  font-family:Consolas, Courier, monospace;
  font-size:.9em;
  border:1px solid #e8e8e8;
  border-radius:1px;
  background:#f2f2f2;
  margin:1em 0; }
  pre > code{
    display:block;
    overflow-x:auto;
    padding:.5em;
    border:0;
    background:transparent;
    -webkit-overflow-scrolling:touch; }

code, samp{
  font-family:Consolas, Courier, monospace;
  font-size:.9em;
  border:1px solid #e8e8e8;
  border-radius:1px;
  background:#f2f2f2;
  padding:.0625em .3125em; }

img{
  display:block;
  max-width:100%;
  margin-right:auto;
  margin-left:auto; }

p img{
  float:right;
  margin:.25em 0 .25em .5em;
  border:1px solid #e8e8e8; }

figure{
  display:inline-block;
  box-sizing:border-box;
  padding:calc(.25em - 1px) 1em;
  border:1px solid #e8e8e8;
  border-radius:1px; }
  figure img{
    max-width:100%;
    margin:.5em 0; }
    figure img + figcaption{
      margin-top:0;
      margin-bottom:.5em; }
  figure figcaption{
    margin-top:.5em;
    text-align:center;
    font-style:italic; }
    figure figcaption + img{
      margin:.5em 0; }

address, blockquote{
  margin-bottom:1.4rem;
  padding:0 2em; }

ul, ol{
  padding-left:2em; }
  ul li:last-child, ol li:last-child{
    margin-bottom:1.4rem; }

dl{
  padding-left:2em; }
  dl dt{
    margin-left:-2em;
    font-weight:bold; }
  dl dd:last-child{
    margin-bottom:1.4rem; }

details{
  display:block;
  padding:0; }
  details summary{
    display:block;
    outline:none;
    margin:0;
    padding:0 .5em;
    font-weight:bold;
    cursor:pointer; }
table{
  display:inline-block;
  border-spacing:0;
  border-collapse:collapse;
  overflow-x:auto;
  width:100%;
  max-width:100%;
  text-align:left;
  vertical-align:top;
  background:-webkit-radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, -webkit-radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
  background:radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
  background-attachment:scroll, scroll;
  background-size:.5em 100%, .5em 100%;
  background-repeat:no-repeat;
  -webkit-overflow-scrolling:touch; }
  table caption{
    font-style:italic;
    background:#fff; }
  table thead{
    background:#e8e8e8; }
  table td, table th{
    padding:calc(0.7rem - 1px) 0.7em 0.7rem;
    vertical-align:top;
    border:1px solid #e8e8e8; }
  table td:first-child{
    background-image:-webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-size:1em 100%;
    background-repeat:no-repeat; }
  table td:last-child{
    background-image:-webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image:linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position:100% 0;
    background-size:1em 100%;
    background-repeat:no-repeat; }
  table td:only-child{
    background-image:-webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position:0 0, 100% 0;
    background-size:1em 100%, 1em 100%;
    background-repeat:no-repeat, no-repeat; }
  table th{
    border:1px solid #cfcfcf; }

abbr{
  margin-right:-.15em;
  letter-spacing:.15em;
  font-size:.875em; }

dfn{
  letter-spacing:.05em; }

del{
  color:#7d7d77; }

ins{
  text-decoration:none;
  background:#ededec; }

mark{
  background:#ffeab9; }

hr{
  height:1px;
  margin:calc(1.4rem - 1px) 0 1.4rem;
  border:0;
  background:#999;
  background-image:-webkit-linear-gradient(left, #fff, #999, #fff);
  background-image:linear-gradient(to right, #fff, #999, #fff); }

var{
  font-family:Consolas, Courier, monospace;
  font-style:normal; }

audio{
  width:100%; }

video{
  width:100%;
  max-width:100%; }

noscript{
  color:#d00000; }

kbd{
  display:inline-block;
  margin:0;
  padding:0 .6ex;
  font-family:Consolas, Courier, monospace;
  font-size:.9em;
  border-radius:5px;
  box-shadow:0 1px #e8e8e8;
  background:#f9f9f8; }

output{
  display:block; }
